/doc
node_modules

.bower-cache
.bower-registry
.bower-tmp
.idea
.bowerrc
.sass-cache

dist/.gitkeep
dist/*.zip

nodemon.json
composer.json
bower.json

.editorconfig
.jshintrc
.npmignore
README.md
gulpfile.js